# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.rdb

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
local_settings.py
db.sqlite3

# React stuff:
.idea/
.vscode/
node_modules/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
